@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
/* CSS Document */

body{
	font-family: 'Saira', sans-serif;
	background: #FCFCFC;
	margin: 0px;
}

#header{
	background: #FFCA0F;
	width: 100%;
	height: 70px;
	position: fixed;
    z-index:99;
}

#questions{
    width: 56px;
    height: 56px;
    position: fixed;
    background: #FFCA0F;
    z-index: 99;
    right: 12px;
    bottom: 12px;
    border-radius: 28px;
    text-align: center;
    color: white;
    font-family: 'Saira', sans-serif;
	font: bold;
	font-size: 48px;
    line-height: 120%;
    box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,.25);
}

#bg_default{
    background: #F5F5F5;
    width: 75%;
    min-height: 84.5vh;
    padding-top: 70px;
    margin-left: 12.5%;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,.25);
}

#container_default{
    background: #FFF;
    width: 90%;
    min-height: 71vh;
    margin-top: 3.5vh;
    margin-left: 5%;
    outline: solid 1px #EAEAEA;
}

input{
    font-family: 'Saira', sans-serif;
}

.circle{
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin: 1px;
    padding: 0px;
    display: block;
    box-shadow: 0px 0px 0px 1px #EAEAEA;
}

.cart_img{
    width: 115px; 
    height: 115px; 
    object-fit: cover; 
    outline: solid 1px #EAEAEA; 
    display: inline-block;
    float:left;
}

.header_text_button{ 
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 18px;
	font-family: 'Saira', sans-serif;
	font: bold;
	font-size: 22px;
	color: white;
	display: inline-block; 
	float: right;
}

.header_text_button:hover{
    text-shadow: rgba(0,0,0,0.25) 0px 0 4px; 
    color:#FFF8C9;
}

.header_icon_button{ 
	display: inline-block; 
	float: right; 
	margin-top: 18px; 
	margin-right: 32px; 
	width: 32px;
	height: 32px;
}

.header_icon_button:hover{ 
    filter: brightness(0.95);
}


.query{
	font-family: 'Saira', sans-serif;
	display: inline-block; 
	float: left; 
	height: 35px; 
	width: 392px; 
    padding-left: 8px;
	margin-top: 15px; 
	margin-left: 80px;
	font-size: 24px;
	border-radius: 8px;
}

#faq{
    width: 50%;
    margin-left: 25%;
    min-height: 100vh;
    background: white;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: -10px;
    outline: 1px solid #EAEAEA;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,.25);
}

#price{
	width: 84%;	
	margin-left: 8%;
	margin-bottom: -10px;
	margin-top: -10px;
}

#landing{
	width: 80%;
	margin-left: 10%;
	background: #FFF;
	outline: 1px solid #EAEAEA;	
	display: inline-block;
}

#shoplist{
	width: 67.6%;
	padding-left: 2%;
	display: inline-block;
	background: #EDDFFF;
	outline: 1px solid #EAEAEA;	
}

#filters{
	padding-top: 60px;
	width: 20%;
	display: inline-block;
	background: #FFF;
	outline: 1px solid #EAEAEA;	
	float: left;
}

#price_filter{
	width: 100%;
	display: inline-block;
	background: #FFF;
	outline: 1px solid #EAEAEA;	
	float: left;
	font-size: 24px;
}

#faq_header{
    padding-top: 24px; 
    outline: 1px solid #EAEAEA; 
    vertical-align: top; 
    position: fixed; 
    width: 50%; 
    height: 113px; 
    background: white; 
    z-index:98;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .25);
}

.card{
	width: 22%;
	margin-left: 1%;
	margin-right: 1%;
	background: #F5F5F5;
	display: inline-block;
	margin-bottom: 20px;
	box-shadow: 3px 4px rgba(0, 0, 0, .25);
}

.card_img{
	width:100%; 
	height: 232px; 
	object-fit: cover;
}

.landing_button{
	font-family: 'Saira', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: white;
	width: 355px;
	height: 44px;
	border-radius: 12px;
	padding-top: 6px;
	margin-top: 50px;
}

.footer_picture{
	height: 46px;
	padding-left: 12px;
	padding-right: 12px;
}

.footer_text_button{ 
	margin-left: 22px;
	margin-right: 22px;
	font-family: 'Saira', sans-serif;
	font-weight: 300;
	font-size: 13px;
	vertical-align: top;
	color: #1D79B3;
	display: inline-block; 
}

.list_expand_button{
	padding: 0px;
	margin: 0px;
	margin-top: 2px;
	width: 90%;
	max-width: 100%;
	font-family: 'Saira', sans-serif;
	font-weight: 300;
	font-size: 13px;
	vertical-align: top;
	text-align: center;
	color: #1D79B3;
	display: inline-block; 
}

.list_caret{
	position: relative;
	left: 90%;
	top: -24px;
}

.social_logo{
	height: 25px;
	padding-left: 3px;
	padding-right: 3px;
}

.collapsible {
	background-color: #FFF;
	color: black;
	cursor: pointer;
	height: 36px;
	width: 100%;
	text-align: left;
	outline: none;
	border: none;
	padding: 0px;
	margin: 0px;
    padding-top: 4px;
	padding-left: 10px;
}

.collapsible:hover{
    background-color: #FAFAFA;
}

.content {
	padding: 0 0 0 16px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.1s ease;
}

.filter_set{
	width: 100%;
	display: inline-block;
	background: #FFF;
	outline: 1px solid #EAEAEA;	
	float: left;
	font-size: 24px;
	padding-top: 0px;
	margin-top: 10px;
}

.container {
	display: block;
	position: relative;
	padding-left: 28px;
	margin-top: -6px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input {
	display: none;
}

.checkmark {
	position: absolute;
	top: 12px;
	left: 0px;
	height: 17px;
	width: 17px;
	background-color: #FEFEFE;
	outline: 1px solid #EAEAEA;
}

.container:hover input ~ .checkmark {
	background-color: #EEE;
}

.checkmark:after {
	content: url("images/icons/delete.png");
	position: absolute;
	left: 2px;
	top:-12px;
	display: none;
}

.container input:checked ~ .checkmark:after {
 	display: block;
}

.video-container {
	position:relative;
	padding-bottom:60%;
    width: 60%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
    height:100%;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}

[type=radio]:checked + img {
    box-shadow: 0px 0px 2px 2px #1CA8FF;
}

h1{
	font-family: 'Saira', sans-serif;
	font-size: 64px;
	font-weight: 400;
	line-height: 120%;
}

h2{
	font-family: 'Saira', sans-serif;
	font-size: 36px;
	font-weight: 400;
	line-height: 120%;
}

h3{
	font-family: 'Saira', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 120%;
}

h4{
	font-family: 'Saira', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 75%;
	margin-block-start: .6em;
    margin-block-end: .6em;
}


pricetag{
	padding-left: 10px;
	color: #7827DD;
	font-family: 'Saira', sans-serif;
	font-size: 24px;
	font-weight: 400;
	display: block;
	margin-top: -8px;
}

nametag{
	padding-left: 10px;
	color: #606060;
	font-family: 'Saira', sans-serif;
	font-size: 24px;
	font-weight: 400;
	display: block;
	margin-top: -8px;
}

p{
	font-family: 'Saira', sans-serif;
	font-size: 24px;
	font-weight: 300;
}

f{
	font-family: 'Saira', sans-serif;
	font-size: 13px;
	font-weight: 300;
}

a{
	text-decoration:none;
	color: inherit;
}

.tkey{
    color: #6B6B6B;
    font-family: 'Saira', sans-serif;
	font-size: 16px;
	font-weight: 300;
    padding: 0px;
    margin: 0px;
    padding-left: 4px;
    line-height: 100%;
}

.tval{
    color: #000;
    font-family: 'Saira', sans-serif;
	font-size: 18px;
	font-weight: 500;
    padding: 0px;
    margin: 0px;
    padding-left: 4px;
    line-height: 100%;
}


#footer{
	background: #FCFCFC;
	width: 100%;
	height: 76px;
	outline: 1px solid #EAEAEA;	
	padding-top: 4px;
	color: #6B6B6B;
}

.clear{ 
	clear: both; 
}

@media screen and (min-width: 1600px) {
    body {
        font-family: 'Saira', sans-serif;
	    background: #FCFCFC;
	    margin: 0px;
        zoom: 1.25;
    }
}